html {
  background: #161616;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  color: #e7e9ea;
  background: #212121;
  background: radial-gradient(circle, #4a4a4a 1%, #161616 100%);
}
.sectionTitleContainer {
  text-align: center;
  font-weight: 500;
  margin: 40px 0px;
}
.sectionTitle {
  font-size: 30px;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #ffdf9e, #cda34f);
  filter: drop-shadow(8px 8px 5px #000000);
}
