.techLogoSection {
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
}

.techLogoContainer {
  text-align: center;
  margin: 8px 0px;
  width: 25%;
}
@media (max-width: 768px) {
  .techLogoContainer {
    width: 50%;
  }
}
.techLogoContainer img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin: auto;
}
.techLogoImageAndText {
  display: flex;
  flex-direction: column;
  filter: drop-shadow(8px 8px 5px #000000);
}
.techLogoText {
  margin: 8px 0;
  font-size: 16px;
  font-weight: 600;
}
